canvas {
    border: 1px solid black;
}

html {
    margin-top:65px;
    margin-bottom: 50px;
}

h1 {
    font-size: xx-large;
    font-style: italic;
    color: green;
}

h2,h3,h4,h5,h6 {
    color: green;
}


#description, .aboutus, #sources {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: green;
    text-align: center;
}

#startButton {
    background-color: green;
    color: black;
}

#aboutus-header{
    float: center;
}

#gameView {
    display: grid;
    grid-template-columns: 5fr 1fr; 
    grid-template-rows: 1fr 1fr;
}

#myCanvas {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: auto;
    height: auto;
    background-image: url('img/screenshot/crocoStart.png');
    background-size: cover;
}

#mycanvas:hover {
    cursor: pointer;
}

#points {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    color: black;
}

#poeng {
    font-size: xx-large;
}

#highscore {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: bold;
    color: black;
}

#highScore {
    font-size: xx-large;
}


#playgame-button {
    color: white;
    background-color: green;
    font-size: xx-large;
}

.sources {
    list-style: none;
}

.footer {
    content: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.832);
    position: fixed;
    bottom: 0; right: 0;
}

/* Adjustment pictures on About the Team page*/
#aboutandrea {
    display: flex;
}

#aboutedwin {
    display: flex;
    flex-direction: row-reverse;
}

#aboutper {
    display: flex;
}

#aboutruben {
    display: flex;
    flex-direction: row-reverse;
}